<!DOCTYPE html>
<html>
  <head>
    <title>keyBay</title>
    <link rel="stylesheet" href="/stylesheet/cart.css">
    <script src="https://kit.fontawesome.com/e3297677e0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="nav-container">
      <div class="nav-container2 top" >
        <% if (!isLoggedIn) { %>
          <a class="login-signup" href="/login"><p>Login</p></a>
          <p>|</p>
          <a class="login-signup" href="/signup"><p>Signup</p></a>
        <% } else { %>
          <a class="login-signup" href="/logout"><p>Logout</p></a>
          <p>|</p>
          <a class="login-signup" href="/profile"><p>Profile</p></a>
        <% } %>
      </div>
      <div class="nav-container3">
        <div class="logo-container">
          <a href="/"><img src="/images/keyBay2.svg" class="logo"></a>
        </div>
        <div class="search-li">
          <form class="search-form" action="/search" method="GET">
            <div class="search-container">
              <input type="text" name="query" value="<%= query %>" placeholder="Search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        <div class="cart-icon-container">
          <a href="/cart"><i id="cart-icon" class="fa-solid fa-cart-shopping fa-2xl" style="color: #8c52ff;"></i></a>
        </div>
      </div>
    </nav>
    <div class="main-container">
    <form action="/checkoutAll" method="POST">
      <div class="button-container">
        <button id="popupButton" class="checkout-all-btn">CHECKOUT ALL</button>
      </div>
      <div id="popup">
        <div id="popupContent">
          <div class="popup-head">
            <button id="closeButton"><i class="fa-solid fa-xmark fa-2xl" style="color: #8c52ff;"></i></button>
          </div>
          <h1> ARE YOU SURE </h1>
          <h3 id="total">Total: ₱<%= total + 30 %></h3>
          <h4 id="shipping">Shipping: ₱30</h4>
          <div class="popup-content-container">
            <select name="region" id="region">
              <option value="30">Luzon</option>
              <option value="40">Visayas</option>
              <option value="50">Mindanao</option>
            </select>
            <textarea rows="2" cols="35" maxlength="200" class="desc-input" id="address" name="address" placeholder="Address" required></textarea>
            <button type="submit" class="submit-item">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <% if (items.length === 0) { %>
      <p>No items in your cart</p>
    <% } else { %>
      <% items.forEach(function (item) { %>
        <div class="item-parent">
        <div class="item-pic">
          <img class="item-img" src="data:<%= item.itemId.image.contentType %>;base64,<%= item.itemId.image.data.toString('base64') %>">
        </div>
        <div class="item-description-container">
          <div class="item-name">
            <p class="item-title"><%= item.itemId.name %></p>
          </div>
          <div class="item-price">
            <h1>₱<%= item.itemId.price %></h1>
          </div>
          <div class="item-buttons">
            <form action="/cart/<%= item._id %>/removeItem" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button typ="submit" class="remove-button">Remove</button>
             </form>
            <a href="/checkout/<%= item.itemId._id %>"><button class="buy-button">Check Out</button></a>
          </div>
        </div>
        </div> 
      <% }); %>
    <% } %>
    <script src="/scripts/home.js"></script>
    <script>
      let regionEl = document.getElementById("region")
      let shippingEl = document.getElementById("shipping")
      let totalEl = document.getElementById("total")
  
  
      regionEl.addEventListener("change", function() {
          shippingEl.innerHTML = "Shipping: ₱" + regionEl.value
  
          // total
          let itemPrice = parseInt(<%= total %>) 
          let shippingPrice = parseInt(parseInt(regionEl.value))
          let total = itemPrice + shippingPrice
          totalEl.innerHTML = "Total: ₱" + total
      })
     </script>
  </body>
</html>