<!DOCTYPE html>
<html>
  <head>
    <title>keyBay</title>
    <link rel="stylesheet" href="/stylesheet/home.css">
    <script src="https://kit.fontawesome.com/e3297677e0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="nav-container">
      <div class="nav-container2 top" >
        <% if (!isLoggedIn) { %>
          <a class="login-signup" href="/login"><p>Login</p></a>
          <p>|</p>
          <a class="login-signup" href="/signup"><p>Signup</p></a>
        <% } else { %>
          <a class="login-signup" href="/logout"><p>Logout</p></a>
          <p>|</p>
          <a class="login-signup" href="/profile"><p>Profile</p></a>
        <% } %>
      </div>
      <div class="nav-container3">
        <div class="logo-container">
          <a href="/"><img src="/images/keyBay2.svg" class="logo"></a>
        </div>
        <div class="search-li">
          <form class="search-form" action="/search" method="GET">
            <div class="search-container">
              <input type="text" name="query" value="<%= query %>" placeholder="Search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        <div class="cart-icon-container">
          <a href="/cart"><i id="cart-icon" class="fa-solid fa-cart-shopping fa-2xl" style="color: #8c52ff;"></i></a>
        </div>
      </div>
    </nav>
   
    <% if (isLoggedIn) { %>
    <form action="/" method="POST" enctype="multipart/form-data">
      <div class="button-container">
        <button id="popupButton"><i  class="fa-sharp fa-solid fa-plus fa-2xl"  id="add-icon" style="color: #8c52ff;"></i></button>
      </div>
      <div id="popup">
        <div id="popupContent">
          <div class="popup-head">
            <button id="closeButton"><i class="fa-solid fa-xmark fa-2xl" style="color: #8c52ff;"></i></button>
          </div>
          <div class="popup-content-container">
            <input type="text" class="popup-input" id="itemName" name="itemName" placeholder="Item Name" required>
            <input type="number" class="popup-input" id="itemPrice" name="itemPrice" placeholder="Price" required>
            <textarea rows="3" cols="35" maxlength="200" class="desc-input" id="itemDesc" name="itemDesc" placeholder="Description" required></textarea>
            <input type="file" name="image" accept="image/*">
            <button type="submit" class="submit-item">Submit</button>
          </div>
        </div>
      </div>
    </form>
   <% } %>
    
   <% if (!isLoggedIn) { %>
    <div class="item-parent" style="margin-top: 10%;">
   <% } else { %>
    <div class="item-parent">
   <% } %>
   <% if (items.length === 0) { %>
    <p>No items found</p>
   <% } else { %>
    <% items.forEach( function(item) { %>
      <div class="item-container">
        <a class="item-link-container"href="/item/<%= item._id %>">
          <img class="item-img" src="data:<%= item.image.contentType %>;base64,<%= item.image.data.toString('base64') %>">
          <p class="item-name"><%= item.name %></p>
          <p class="item-price">₱<%= item.price %></p>
        </a> 
      </div>
   <% }); %>
  <% } %>
   </div>  
   <% if (isLoggedIn) { %>
    <script src="/scripts/home.js"></script>
   <% } %>   
 </body>
</html>